@charset "UFT-8";
 

* {
    margin: 0px;
    padding: 0px;
}


:root {
    --marron: #8A6C00;
    --amarelo: #FFCD19;
    --laranja: #D6A901;
    --azulescuro: #000D8A;
    --azul: #0014D6;

    --fpadrao: Arial, Helvetica ,sans-serif;
    --fartesa: 'Ephesis', cursiva;
}

body {
    background-image:linear-gradient( to bottom, #000D8A,#000000);
}

header{ 
    padding-bottom: 15px;
    text-align: center;
    min-height: 50px;
    background-image:linear-gradient( to bottom, var(--azulescuro),var(--azul));
    height: 45px;
}

header > h1{
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.329);
    font-size: 3em;

}

nav {
    padding-left: 4%;
}

nav > a {
    font-size: 1.5em;
    padding-top: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 32%;
    height: 50px;
    color: var(--amarelo);
    border-radius: 15px 5px;

}


nav > a.home {
    background-image: url(imagens\ prj/home.jpg);
    color:var(--marron);
    border-radius: 5x;
}

nav > a.album {
    background-image: url(imagens\ prj/album.jpg);
    color:var(--marron);
    border-radius: 5x;
}

nav > a.sobre {
    background-image: url(imagens\ prj/sobre.jpg);
    color:var(--marron);
    border-radius: 5x;
}

nav > a.home:hover{
    color: white;
    background-image: url(imagens\ prj/homep.jpg);
    transition-duration: 0.50s;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.329);

}

nav > a.album:hover{
    color: white;
    background-image: url(imagens\ prj/albump.jpg);
    transition-duration: 0.50s;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.329);

}

nav > a.sobre:hover{
    color: white;
    background-image: url(imagens\ prj/sobrep.jpg);
    transition-duration: 0.50s;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.329);

}

main {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.507);
    border-radius: 15px;
    text-align: justify;
    background-color:white;
    padding: 14px;
    margin: 15px auto 25px auto;
    max-width: 1000px;
    min-width: 300px;
}

 main p {
    margin: 15px 0px;
    line-height: 1.5em;
    text-indent: 25px;
}

main a {
    text-decoration: none;
    color: var(--marron);
    font-weight: bold;

}

main a:hover{
    background-color: rgba(0, 0, 255, 0.253);
    padding: 2px;
    border-radius: 5px;



}


h1 {
    color: var(--amarelo);
    margin-bottom: 10px;


}

h2 {
    color: var(--marron);
  
}

ul {
    list-style-position: inside;
}

footer {
    font-family: var(--fartesa);
    background-color: rgb(0, 0, 85);
    color: white;
    text-align: center;
    padding: 5px;
}

.home {
    background-image: url(/imagens\ prj/christmas-,-.jpg);

}